* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(0, 89, 255);
    height: 100px;
    align-items: center;

}

.heading {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

.url_head {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: cornflowerblue;
    text-align: center;
    padding: 10px;
    width: 100px;
    height: 40px;
    background-color: rgb(201, 241, 19)
}

.url_head:hover {
    background-color: blue;
}

.image {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;

}



.button {
    background-color: greenyellow;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: rgb(0, 89, 255);
    height: 100px;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.heading_2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}